@use "../abstracts" as a;

.container {
  min-width: 375px;
  margin: 0 auto;

  @include a.desktop {
    margin: 0;
  }
}

.hero {
  padding: 0 2rem;
  text-align: center;
  margin-bottom: 7rem;

  & p {
    font-size: 0.9rem;
    line-height: 1.4;
    color: var(--neut__vdk-cyan);
  }

  @include a.desktop {
    padding: 0 16rem;

    & h1 {
      font-size: 2.8rem;
    }

    & p {
      font-size: 1.1rem;
      max-width: 55%;
      margin: -1rem auto 1rem;
    }
  }
}

.stats {
  padding: 0 2rem;
  margin: 0 auto;
  max-width: 60%;

  & img {
    width: 2rem;
  }

  &__figure {
    font-size: 3.5rem;
    font-weight: 700;
  }

  &__desc {
    margin-top: -3.5rem;
    font-size: 0.9rem;
    color: hsl(192, 100%, 9%, 0.5);
  }

  &__communities-formed {
    margin-bottom: 4rem;
  }

  &__messages-sent {
    margin-bottom: 7rem;
  }

  &__messages-sent &__desc {
    text-align: center;
  }

  @include a.desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 50%;

    & img {
      width: 3rem;
    }

    &__figure {
      font-size: 4rem;
    }

    &__desc {
      margin-top: -3.5rem;
      font-size: 1.1rem;
    }
  }
}

.features {
  &__top-curve {
    background: url(/images/bg-section-top-mobile-1.svg) no-repeat top/100% 100%;
    padding: 5rem;

    @include a.desktop {
      background: url(/images/bg-section-top-desktop-1.svg) no-repeat;
      background-size: contain;
      background-position: bottom center;
      padding: 6rem;
    }
  }

  &__bottom-curve {
    background: url(/images/bg-section-bottom-mobile-1.svg) no-repeat top/100%
      40%;
    padding: 5rem;

    @include a.desktop {
      background: url(/images/bg-section-bottom-desktop-1.svg) no-repeat;
      background-size: contain;
      background-position: top center;
      padding: 6rem;
    }
  }

  &__grow {
    text-align: center;
    padding: 0 2rem 5rem;
    background: hsla(191, 55%, 79%, 0.096);

    & img {
      padding: 5rem 2rem 0;
      margin-bottom: 4rem;
    }

    & p {
      font-size: 0.9rem;
      margin-bottom: 0;
    }

    @include a.desktop {
      display: flex;
      flex-direction: row-reverse;
      padding: 0 10rem;
      text-align: left;
      margin: 0;

      & img {
        max-width: 50%;
        margin-bottom: 1rem;
      }

      & div {
        padding: 12rem 0 0;
      }

      & p {
        max-width: 80%;
      }
    }
  }

  &__flowing {
    text-align: center;
    margin-bottom: 8rem;
    padding: 0 2rem;

    & img {
      padding: 5rem 2rem 0;
      margin-bottom: 4rem;
    }

    & p {
      font-size: 0.9rem;
    }

    @include a.desktop {
      display: flex;
      flex-direction: row;
      padding: 0 10rem;
      text-align: left;
      margin-top: 8rem;

      & img {
        max-width: 50%;
        margin-bottom: 1rem;
      }

      & div {
        padding: 12rem 0 0;
        margin-left: 5rem;
      }

      & p {
        max-width: 80%;
      }
    }
  }

  &__users-top-curve {
    background: url(/images/bg-section-top-mobile-2.svg) no-repeat top/100% 100%;
    padding: 3rem;

    @include a.desktop {
      background: url(/images/bg-section-top-desktop-2.svg) no-repeat;
      background-size: contain;
      background-position: bottom center;
      padding: 6rem;
    }
  }

  &__users {
    text-align: center;
    padding: 0 2rem 5rem;
    background: hsla(191, 55%, 79%, 0.096);

    & img {
      padding: 5rem 2rem 0;
      margin-bottom: 4rem;
    }

    & p {
      font-size: 0.9rem;
    }

    @include a.desktop {
      display: flex;
      flex-direction: row-reverse;
      padding: 0 10rem;
      text-align: left;

      & img {
        max-width: 50%;
        margin-bottom: 1rem;
      }

      & div {
        padding: 12rem 0 0;
      }

      & p {
        max-width: 77%;
      }
    }
  }

  &__users-bottom-curve {
    background: url(/images/bg-section-bottom-mobile-2.svg) no-repeat top/100%
      60%;
    padding: 5rem;

    @include a.desktop {
      background: url(/images/bg-section-bottom-desktop-2.svg) no-repeat;
      background-size: contain;
      background-position: top center;
      padding: 6rem;
    }
  }
}
